{% extends 'publicsite/layout.html' %}
{% block mardi %}Experience{% endblock %}
{% block contenu %}

{% for experience in experience_data %}
<section class="experience-card">
  <div class="experience-title"> {{ experience.job_title }}  <span class="date">({{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y" }})</span></div>
  <div class="company">{{ experience.company }}</div>
  <div class="description">{{ experience.description }}</div>
</section>
{% endfor %}
{% endblock %}

