{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'publicsite/css/style.css' %}">
  <title>{% block mardi %}*****$$%$%$^$%$&^{% endblock %}</title>
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">À propos de moi</a></li>
        <li><a href="/experience">Mon Expérience</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </header>

  {% block contenu %}
  <p>Structure</p>
  {% endblock %}
</body>

</html>